{% extends "layout.html" %}

{% block content %}

    <h1>TheBrains Article </h1>
    <form action="" method="get">
        <input type="text" name="q" value="{{q}}" />
        <input type="submit" value="search" />
    </form>
    
    <br />
    <a href="{% url 'article:new' %}">글쓰기</a>
    <br />
    <br />

    {% for article in article_list %}
        <li>
            <a href="{% url 'article:detail' article.id %}">{{article.title}}</a>
        </li>
    {% endfor %}

{% endblock content %}