<html>
    <head></head>
    <body>
        {{person.say_hello}}
        {{person.name}} <br/>

        {{people}}<br/>
        {{people.1}}

        <hr>
        {% for p in people %}
          {{forloop.counter}} : {{p}}
        {% endfor %}

        <hr>
        {% for p in person_list %}
            {{p.name}}
        {% empty %}
            no name
        {% endfor %}

        <hr>
        {% lorem %} 
        {% lorem  3 p %} 
        {% lorem  2 w random %} 

        <hr>
        It is {% now "jS F Y H:i" %}

        <hr>
        {% verbatim %}
            {{if dying}} still alive.{{/if}}
        {% endverbatim %}

        <hr>
        {% with alpha=1 beta=2 %}
          {{alpha}}
        {% endwith %}
        
        
        <hr>
        {{ datetime_obj|date:"D d M Y" }} <br/>
        {{ datetime_obj|date:"DATE_FORMAT" }} <br/>
        {{ datetime_obj|date:"DATETIME_FORMAT" }} <br/>
        {{ datetime_obj|date:"SHORT_DATE_FORMAT" }} <br/>
        {{ datetime_obj|date:"SHORT_DATETIME_FORMAT" }} <br/>
        {{ datetime_obj|time:"TIME_FORMAT" }} <br/>
        <hr>
        {{ past_dt|timesince }} <br/>
        {{ past_dt|timesince:criteria_dt }} <br/>
        {{ future_dt|timeuntil }} <br/>
        {{ future_dt|timeuntil:past_dt}} <br/>

        <hr>
        {{person_list|default:"nothing False"}}
        {{person_list|default_if_none:"nothing None"}}

        <hr>
        {{people|join:" // "}}

        <hr>
        {{people|length}}

        <hr>
        {{value|linebreaks}}

        <hr>
        {{people|random}}

        <hr>
        {% autoescape off %}
            {{value6}}
        {% endautoescape %}

        <hr>

        {{value6|safe}}

        <hr>
        {{people|slice:":2"}}

        <hr>
        {{value6|striptags}}

        <hr>
        {{value1|truncatechars:9}}

        <hr>
        {{value2|truncatechars_html:9}}

        <hr>
        {{value1|truncatewords:2}}

        <hr>
        {{value2|truncatewords_html:2}}

        <hr>
        {{value3|urlencode}}

        <hr>
        {{value4|urlize}}
        <hr>
        {{value5|urlize}}

    </body>
</html>