{% extends 'layout.html' %}

{% block content %}
    <h2>Book List</h2>
    {% if book_list %}
        <ul>
            {% for book in book_list%}
            <li>
                {{book.title}} / {{book.author}} / {{book.publisher}} &nbsp;
                <a href="{% url 'book:edit' book.id %}">[수정]</a>
                <a href="{% url 'book:delete' book.id %}">[삭제]</a>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>목록이 없습니다.</p>
    {% endif %}

    <a href="{% url 'book:new' %}">[BOOK 추가]</a>
{% endblock %}    